*
  scroll-behavior: smooth

html
  @media (max-width: 600px)
    font-size: $fontSizeMd

h1, h2, h3, h4, h5, h6
  color: $accentColor

.search-box .suggestions
  z-index: 1

::-webkit-scrollbar
  width: 5px
  height 5px
::-webkit-scrollbar-thumb
  background-color: orange
  border-radius: 9999px
