*
  scroll-behavior: smooth

::-webkit-scrollbar
  width: 5px
  height: 5px

::-webkit-scrollbar-thumb
  border-radius: 9999px
  background-color: $accentColor

.application
  h1, h2, h3, h4, h5, h6
    color: $accentColor

  p
    text-align: justify
    text-indent: 2em

    code
      white-space: nowrap
      font-family: inherit
      user-select: all

  table
    tbody
      tr:nth-child(2n)
        background-color: initial

  .theme-default-content div[class*='language-']
    margin: 1rem 0

  .search-box .suggestions
    z-index: 1

  @media (max-width: 959px)
    .search-box
      input
        left: 0
        width: 100%

        &:focus
          width: 100%
