*
  scroll-behavior: smooth

::-webkit-scrollbar
  width: 5px
  height 5px
::-webkit-scrollbar-thumb
  background-color: $accentColor
  border-radius: 9999px

h1, h2, h3, h4, h5, h6
  color: $accentColor

p
  text-indent: 2em
  text-align: justify
  code
    font-family: inherit
    user-select: all
    white-space: nowrap

.theme-default-content div[class*="language-"]
  margin: 1rem 0

.search-box .suggestions
  z-index: 1
