@require './config.styl'
@require './layout.styl'
@require './vuetify.styl'

*
  scroll-behavior: smooth

html
  @media (max-width: 600px)
    font-size: $fontSizeMd

h1, h2, h3, h4, h5, h6
  color: $accentColor
