nav
  display: inline-block

.flex-layout-row-gap
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  & > *
    margin: 0 $flexLayoutGap
    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0
.flex-layout-row-gap-center
  @extend .flex-layout-row-gap
  justify-content: center

.flex-1
  flex: 1

.full-height
  height: 100%
