.v-application
  .v-btn
    text-transform: initial

  code
    display: initial
    background-color: transparent
    box-shadow: initial

    &::before, &::after
      content: none

  p, .custom-block ul, .custom-block ol
    margin: 1rem 0

  .custom-block.warning
    border-color: darken(#FFE564, 35%) !important
    background-color: rgba(255, 229, 100, 0.3) !important
