.v-application
  .v-btn
    text-transform: initial
  code
    display: initial
    box-shadow: initial
    background-color: transparent
    &::before, &::after
      content: none

  p
    margin: 1rem

  .v-picker--date
    tr, th, td
      border: initial
    tr
      background-color: initial
    td
      padding: initial
