.v-application
  .v-btn
    text-transform: initial

  code
    display: initial
    background-color: transparent
    box-shadow: initial

    &::before, &::after
      content: none

  p
    margin: 1rem 0

  .v-picker--date
    tr, th, td
      border: initial

    tr
      background-color: initial

    td
      padding: initial
